:root {
  --main: #FB9F89;
  --hover-main: rgba(255, 232, 209, 0.1);
  --primary-text: #C4AF9A;
  --secondary-text: #BDBDBD;
  --revert-text: #101010;
  --primary-background: #1e1e24;
  --input-background: #141414;


  --info-main: #81AE9D;

  --error-main: #E05050;
  --error-background: rgba(224, 80, 80, 0.1);
  --error-border: rgba(224, 80, 80, 0.1);
  --error-shadow: rgba(6, 28, 61, 0.08);

  --detail-main: #21A179;
  --detail-background: rgba(255, 232, 209, 0.1);
  --detail-border: rgba(255, 232, 209, 0.1);
  --detail-shadow: rgba(6, 28, 61, 0.08);
}
